@model UserSignInRequestModel


<a asp-controller="Home" asp-action="Register" class="btn-success">Register now!</a>


<form asp-controller="Home" asp-action="SignIn" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="mb-3">
        <label>UserName :</label>
        <input asp-for="UserName" class="form-control" />
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>

    <br />

    <div class="mb-3">
        <label>Password :</label>
        <input asp-for="Password" class="form-control" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <br />

    <div class="mb-3">
        <input type="checkbox" class="form-check-input" asp-for="RememberMe"/>
        <label class="form-check-label">
            Remember Me
        </label>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Login</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

</form>


